:root {
  --color-bg-secondary: rgb(23, 23, 23);

  --color-text-thirty: rgb(232, 232, 232);
}

.messages-container {
  width: 674px;

  display: flex;
  flex-direction: column;
}

.user-message,
.stretch-container {
  align-self: flex-end;
}

.stretch-container {
  height: 30px;
}

.user-message,
.llm-message {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-text-thirty);
}

.user-message {
  background-color: var(--color-bg-secondary);
  border-radius: 10px;

  padding: 10px 16px;
}

.llm-message {
  padding-left: 8px;
  padding-right: 32px;
}