.chats-container {
  margin-top: 16px;

  flex: 1;
  
  padding: 0px 8px;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.chat-container {
  display: flex;
}

a.chat {
  position: relative;

  width: 100%;

  padding: 8px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

a.chat.current-chat {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
}

.chat:hover {
  color: var(--color-text-thirty);
  transition: color 0.2s;
}

.chat-settings {
  background-color: transparent;
  border: none;

  opacity: 0;

  cursor: pointer;
}

.chat-settings.can-focus:hover {
  opacity: 1;
}

.chat-container:has(.chat:hover){
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.chat-container:has(.chat:hover) .chat-settings{
  opacity: 1;
}