:root {
  --color-text-primary: rgb(194, 192, 182);
  --color-text-thirty: rgb(232, 232, 232);
  
  --color-bg-primary: rgb(38 38 38);
  --color-bg-secondary: rgb(23, 23, 23);
  --color-bg-thirty: rgb(48, 48, 46);
  
  --color-border-primary: rgb(63, 63, 63);
  --color-border-secondary: rgba(222, 220, 209, 0.3);
  --color-border-thirty: rgba(222, 220, 209, 0.15);

  --color-btn-delete: rgb(254, 129, 129);
  --color-bg-btn-save-rename: rgb(255, 255, 255); 
  --color-text-btn-save-rename: rgb(0, 0, 0);
}

.sidebar-content .chats {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
}

.chats-container {
  margin-top: 16px;
  
  padding: 0px;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.chat-container {
  position: relative;

  display: flex;
}

a.chat {
  position: relative;

  width: 100%;

  padding: 8px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

.current-chat {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
}

.current-chat .chat-settings-button {
  opacity: 1;
}

.chat:hover {
  color: var(--color-text-thirty);
  transition: color 0.2s;
}

.chat-settings-button {
  background-color: transparent;
  border: none;

  opacity: 0;

  cursor: pointer;
}

.chat-settings-button.active,
.chat-settings-button:hover {
  opacity: 1;
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.chat-container:has(.chat:hover) .chat-settings-button{
  opacity: 1;
}

.can-focus:hover {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.chat-container:has(.chat:hover){
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  top: 40px;

  background-color: rgb(48, 48, 46);
  border: 1px solid var(--color-border-secondary);
  border-radius: 10px;

  display: none;
  opacity: 0;

  padding: 6px;

  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;

  width: 150px;

  padding: 8px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-family: sans-serif;
}

.dropdown-menu button svg {
  margin-right: 10px;
}

.drowpdown-menu-item-button {
  cursor: pointer;
}

#delete-chat-button {
  border-top: 1px solid var(--color-border-primary);
  color: var(--color-btn-delete);
}

.rename-overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;

  display: none;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 2000;
}

.rename-overlay-container.active {
  display: flex;
}

.rename-overlay {
  background-color: var(--color-bg-primary);

  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid var(--color-border-thirty);
  border-radius: 20px;
}

.rename-overlay h2 {
  font-family: sans-serif;

  margin: 0px;
}

.rename-overlay input {
  padding: 8px 12px;

  background-color: var(--color-bg-thirty);

  border: 1px solid var(--color-border-thirty);
  border-radius: 10px;

  width: 400px;
  height: 22px;

  font-size: 16px;
  font-family: sans-serif;

  margin-top: 12px;

  cursor: text;
}

.rename-overlay input:focus {
  outline: none;
}

.rename-overlay-buttons-container {
  margin-top: 24px;

  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.rename-overlay button {
  padding: 8px 16px;
  
  border-radius: 10px;

  font-family: sans-serif;
  font-size: 16px;

  cursor: pointer;
}

.rename-overlay .cancel-rename {
  background-color: transparent;
  border: 1px solid var(--color-border-secondary);

}

.rename-overlay .save-rename {
  background-color: var(--color-bg-btn-save-rename);
  color: var(--color-bg-secondary);

  width: 80px;

  border: none;
}