:root {
  --color-bg-secondary: rgb(23, 23, 23);
}

.messages-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.user-message,
.stretch-container {
  align-self: flex-end;
}

.user-message {
  background-color: var(--color-bg-secondary);
  border-radius: 10px;

  padding: 10px 16px;
}

.stretch-container {
  height: 30px;
}