:root {
  --color-text-primary: rgb(194, 192, 182);
  --color-text-thirty: rgb(232, 232, 232);
  
  --color-bg-secondary: rgb(23, 23, 23);
  
  --color-border-primary: rgb(63, 63, 63);
  --color-border-secondary: rgba(222, 220, 209, 0.3);

  --color-btn-delete: rgb(254, 129, 129);
}

.chats-container {
  margin-top: 16px;

  flex: 1;
  
  padding: 0px 8px;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.chat-container {
  position: relative;

  display: flex;
}

a.chat {
  position: relative;

  width: 100%;

  padding: 8px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

.current-chat {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
}

.current-chat .chat-settings-button {
  opacity: 1;
}

.chat:hover {
  color: var(--color-text-thirty);
  transition: color 0.2s;
}

.chat-settings-button {
  background-color: transparent;
  border: none;

  opacity: 0;

  cursor: pointer;
}

.chat-settings-button.active,
.chat-settings-button:hover {
  opacity: 1;
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.chat-container:has(.chat:hover) .chat-settings-button{
  opacity: 1;
}

.can-focus:hover {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.chat-container:has(.chat:hover){
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  top: 40px;

  background-color: rgb(48, 48, 46);
  border: 1px solid var(--color-border-secondary);
  border-radius: 10px;

  display: none;
  opacity: 0;

  padding: 6px;

  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;

  width: 150px;

  padding: 8px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-family: sans-serif;
}

.dropdown-menu button svg {
  margin-right: 10px;
}

.drowpdown-menu-item-button {
  cursor: pointer;
}

#delete-chat-button {
  border-top: 1px solid var(--color-border-primary);
  color: var(--color-btn-delete);
}