:root {
  --color-bg-primary: rgb(38 38 38);
  --color-bg-secondary: rgb(23, 23, 23);
  --color-bg-thirty: rgb(9, 9, 9);

  --color-text-primary: rgb(194, 192, 182);
  --color-text-secondary: rgb(156, 154, 146);
  --color-text-thirty: rgb(232, 232, 232);

  --color-border: rgb(63, 63, 63);

  --btn-bg-send: rgba(198, 97, 63, 0.5);
  --input-bg-color: rgb(48, 48, 46);
}

main {
  position: relative;
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 190px 32px 0px 32px;
}

.tooltip {
  height: 15px;

  background-color: var(--color-bg-thirty);
  border-radius: 6px;

  padding: 6px;

  color: var(--color-text-thirty);
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  white-space: nowrap;
  pointer-events: none;
}

.keyboard-shortcuts {
  color: var(--color-text-secondary);
}

.incognito-mode-container {
  position: relative;
  
  background-color: transparent;
  border: none;

  position: fixed;
  top: 10px;
  right: 17px;

  padding: 6px;

  cursor: pointer;
}

.incognito-mode-container .tooltip {
  position: absolute;
  left: -150px;
  bottom: 5px;

  opacity: 0;
}

.incognito-mode-container:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.upgrade-baner {
  background-color: var(--color-bg-secondary);
  padding: 7px 13px;
  border-radius: 5px;
  
  width: 130px;
}

.upgrade-baner p {
  margin: 0px;
  
  font-family: sans-serif;
  font-size: 14px;
  color: var(--color-text-secondary);
}

.welcome-section {
  display: flex;
  align-items: center;

  margin-top: 35px;
  margin-bottom: 35px;
}

.welcome-label {
  font-size: 38px;
  font-family: serif;
  color: var(--color-text-primary);

  margin-left: 12px;
}

.input-field {
  background-color: var(--input-bg-color);
  border-radius: 20px;
  padding: 18px;

  width: 636px;
}

.input-container {
  margin-bottom: 40px;
}

.input-container input {
  font-size: 17px;
  font-family: sans-serif;
  
  background-color: transparent;

  width: 100%;
  height: 25px;

  border: none;

  margin: 0px;
  padding: 0px;
}

.input-container input:focus {
  outline: none;
}

.input-container input::placeholder {
  color: var(--color-text-secondary);
}

.actions-container {
  display: flex;
  align-items: center;
}

.additional-actions-container {
  display: flex;
  gap: 8px;

  width: 470px;
}

.additional-actions-container button {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 7px;

  cursor: pointer;
}

.can-focus-additional-action-button:hover {
  background-color: var(--color-bg-primary);
  border-radius: 9px;
  transition: background-color 0.2s;
}

.tools-button-container,
.thinking-button-container {
  position: relative;
}

.tools-button-container .tooltip,
.thinking-button-container .tooltip {
  position: absolute;
  bottom: -33px;

  opacity: 0;
}

.can-focus-additional-action-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.main-actions-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.models-button-container button{
  display: flex;
  align-items: center;
  gap: 5px;

  width: fit-content;
  height: 32px;

  margin: 0px;
  padding: 10px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.models-button-container .model-name {
  color: var(--color-text-primary);
}

.send-button-container button {
  background-color: var(--btn-bg-send);
  border: none;
  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 8px;

  cursor: pointer;
}