main {
  position: relative;
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 190px 32px 0px 32px;
}

.incognito-mode-container {
  position: fixed;
  top: 10px;
  right: 17px;

  padding: 6px;

  cursor: pointer;
}

.upgrade-plan {
  background-color: var(--additional-background-color);
  padding: 7px 13px;
  border-radius: 5px;
  
  width: 130px;
}

.upgrade-plan p {
  margin: 0px;
  
  font-family: sans-serif;
  font-size: 14px;
  color: var(--additional-font-color);
}

.welcome {
  display: flex;
  align-items: center;

  margin-top: 35px;
  margin-bottom: 35px;
}

.welcome-label {
  font-size: 38px;
  font-family: serif;
  color: var(--based-font-color);

  margin-left: 12px;
}

.input-field {
  background-color: var(--input-field-background);
  border-radius: 20px;
  padding: 18px;

  width: 636px;
}

.input-container {
  margin-bottom: 40px;
}

.input-container input {
  font-size: 17px;
  font-family: sans-serif;
  
  background-color: transparent;

  width: 100%;
  height: 25px;

  border: none;

  margin: 0px;
  padding: 0px;
}

.input-container input::placeholder {
  color: var(--additional-font-color);
}

.actions-container {
  display: flex;
  align-items: center;
}

.additional-actions-container {
  display: flex;
  gap: 8px;

  width: 470px;
}

.additional-actions-container button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 7px;

  cursor: pointer;
}

.can-focus-additional-action-button:hover {
  background-color: var(--background-color);
  border-radius: 9px;
  transition: background-color 0.2s;
}

.main-actions-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.models-button-container button{
  display: flex;
  align-items: center;
  gap: 5px;

  width: fit-content;
  height: 32px;

  margin: 0px;
  padding: 10px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.models-container .model-name {
  color: var(--based-font-color);
}

.send-button-container button {
  background-color: var(--send-button-color);
  border: none;
  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  padding: 8px;

  cursor: pointer;
}