nav {
  width: 47.8px;
}

.sidebar-button-container {
  padding: 8px;
}

.sidebar-button {
  background-color: transparent;
  border: none;

  height: 32px;
  width: 32px;

  cursor: pointer;
}

.new-chat-link-container {
  padding: 8px 8px 0px 8px;
}

.new-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.new-chat-link-svg-container {
  background-color: rgb(214, 118, 83);
  border-radius: 20px;

  padding: 1px;

  height: 20px;
  width: 20px;
}

.can-focus:hover {
  background-color: rgb(23, 23, 23);
  border-radius: 4px;
}

.sidebar-navigations {
  padding: 1px 8px 0px 8px;
}

.navigation-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
}