:root {
  --additional-background-color: rgb(23, 23, 23);
  --input-field-background: rgb(48, 48, 46);

  --based-font-color: rgb(194, 192, 182);
  --additional-font-color: rgb(156, 154, 146);

  --border-color: rgb(63, 63, 63);
}

body {
  display: flex;
}

nav {
  width: 48px;
  height: 100vh;

  border-right: 1px solid var(--border-color);

  position: relative;
}

.sidebar-button-container {
  padding: 8px;
}

.sidebar-button {
  background-color: transparent;
  border: none;

  height: 32px;
  width: 32px;

  cursor: pointer;
}

.new-chat-link-container {
  padding: 8px 8px 0px 8px;
}

.new-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.new-chat-link-svg-container {
  background-color: rgb(214, 118, 83);
  border-radius: 20px;

  padding: 1px;

  height: 20px;
  width: 20px;
}

.can-focus:hover {
  background-color: var(--additional-background-color);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.sidebar-navigations {
  padding: 1px 8px 0px 8px;
}

.navigation-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
}

.user {
  position: absolute;
  bottom: 0px;
}

.user-button {
  background-color: transparent;
  border: none;

  margin: 8px 0px 8px 0px;
  padding: 8px 5px;

  cursor: pointer;
}

.literally-me {
  height: 38px;

  border-radius: 20px;

  transition: transform 0.2s;
}

.literally-me:hover {
  transform: scale(1.04);
}