:root {
  --color-bg-secondary: rgb(23, 23, 23);
  --color-bg-thirty: rgb(9, 9, 9);
  --color-border: rgb(63, 63, 63);
}

body {
  display: flex;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;        
  text-decoration: none; 
  outline: none;         
}


aside {
  width: fit-content;
  height: 100vh;

  border-right: 1px solid var(--color-border);

  position: relative;

  z-index: 101;
  transition: transform 0.2s;
}

aside.closed {
  transform: translateX(-100%);
}

aside.closed .sidebar-button-container {
  position: fixed;
  top: 0px;
  left: 75px;
}

.sidebar-title {
  display: flex;
  align-items: center;
}

.sidebar-title a {
  padding-left: 8px;
}

.sidebar-button-container {
  padding: 8px;

  z-index: 1007;
}

.sidebar-button {
  position: relative;

  background-color: transparent;
  border: none;

  height: 32px;
  width: 32px;

  cursor: pointer;

  z-index: 1007;
}

.tooltip {
  height: 15px;

  background-color: var(--color-bg-thirty);
  border-radius: 6px;

  padding: 6px;

  color: var(--color-text-thirty);
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
}

.sidebar-button .tooltip {
  position: absolute;
  bottom: 4px;
  left: 38px;
}

.sidebar-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.new-chat-link-container {
  padding: 8px 8px 0px 8px;
}

.new-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 5px;
}

.new-chat-link,
.chats,
.projects,
.artifacts,
.code {
  position: relative;
}

.new-chat-link .tooltip,
.chats .tooltip,
.projects .tooltip,
.artifacts .tooltip,
.code .tooltip {
  position: absolute;
  left: 38px;
}

.new-chat-link:hover .tooltip,
.chats:hover .tooltip,
.projects:hover .tooltip,
.artifacts:hover .tooltip,
.code:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s;
}

.new-chat-link-svg-container {
  background-color: rgb(214, 118, 83);
  border-radius: 20px;

  padding: 1px;

  height: 20px;
  width: 20px;
}

.can-focus:hover {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.sidebar-navigation {
  padding: 1px 8px 0px 8px;
}

.navigation-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
}

.user {
  position: absolute;
  bottom: 0px;
}

.user-button {
  background-color: transparent;
  border: none;

  margin: 8px 0px 8px 0px;
  padding: 8px 5px;

  cursor: pointer;
}

.literally-me {
  height: 38px;

  border-radius: 20px;

  transition: transform 0.2s;
}

.literally-me:hover {
  transform: scale(1.04);
}