:root {
  --color-bg-primary: rgb(38 38 38);
  --color-bg-secondary: rgb(23, 23, 23);
  --color-bg-thirty: rgb(9, 9, 9);

  --color-border-primary: rgb(63, 63, 63);

  --color-text-primary: rgb(194, 192, 182);
  --color-text-secondary: rgb(156, 154, 146);
  --color-text-thirty: rgb(232, 232, 232);

  --btn-bg-primary: rgb(214, 118, 83);
}

body {
  display: flex;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;        
  text-decoration: none; 
  outline: none;         
}


aside {
  background-color: var(--color-bg-primary);

  width: fit-content;
  height: 100vh;

  border-right: 1px solid var(--color-border-primary);

  display: flex;
  flex-direction: column;

  position: fixed;

  z-index: 101;
}

aside .sidebar-button-container {
  position: absolute;
  top: 13px;
  right: 10px;

  z-index: 101;
}

.sidebar-content {
  display: flex;
  flex-direction: column;

  padding: 0px 8px;

  height: 100%;
}

.sidebar-title {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;

  padding: 8px 0px 8px 0px;
}

.sidebar-title a {
  padding-left: 8px;
}

.sidebar-button-container {
  width: fit-content;

  z-index: 1007;
}

.sidebar-button {
  position: relative;

  background-color: transparent;
  border: none;

  height: 32px;
  width: 32px;

  cursor: pointer;

  z-index: 1007;
}

.sidebar-actions-container {
  height: 179px;
}

.new-chat-link-container {
  padding: 0px;
}

.new-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 6px;

  white-space: nowrap;
}

.navigation-label {
  color: var(--color-text-primary);
  font-family: sans-serif;
  
  flex: 1;

  margin-left: 10px;

  width: 250px;
  height: 20px;
}

nav {
  width: fit-content;
}

.new-chat-link,
.chats,
.projects,
.artifacts,
.code {
  position: relative;
  width: fit-content;
}

.new-chat-link-svg-container {
  background-color: var(--btn-bg-primary);
  border-radius: 20px;

  padding: 1px;

  height: 22px;
  width: 22px;
}

.can-focus:hover {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.sidebar-navigation {
  padding: 1px 0px 0px 0px;
}

.navigation-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 6px;
}

.user {
  height: 76px;
}

.user-button {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--color-border-primary);

  padding: 16px 16px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  cursor: pointer;
}

.can-focus-user:hover {
  background-color: var(--color-bg-secondary);
  transition: background-color 0.2s;
}

.user-profile-pic {
  height: 40px;

  border-radius: 20px;

  transition: transform 0.2s;
}

.user-profile-pic:hover {
  transform: scale(1.04);
}

.user-profile-infos {
  display: flex;
  align-items: center;
  gap: 150px;
}

.user-name-plan {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-name {
  color: var(--color-text-primary);
  font-size: 15px;
  font-family: sans-serif;
}

.user-plan {
  color: var(--color-text-secondary);
  font-family: sans-serif;
  font-size: 13px;
}