aside.closed .sidebar-claude-link, 
aside.closed .recents-chats-label, 
aside.closed .navigation-label, 
aside.closed .user-profile-infos,
aside.closed .chats-container {
  display: none;
  transition: display 2s;
}

aside.closed .sidebar-button-container {
  position: fixed;
  top: 15px;
  left: 10px;
}

aside.closed .user {
  position: fixed;
  bottom: 15px;
  left: 5px;

  width: fit-content;
  height: fit-content;
}

aside.closed .user button {
  padding: 0px;
}

aside.closed .user-button {
  border: none;
}

aside.closed .can-focus-user:hover {
  background-color: transparent;
}

aside.closed .tooltip {
  display: revert;
}