:root {
  --additional-background-color: rgb(23, 23, 23);
  --input-field-background: rgb(48, 48, 46);

  --based-font-color: rgb(194, 192, 182);
  --additional-font-color: rgb(156, 154, 146);

  --border-color: rgb(63, 63, 63);

  --send-button-color: rgba(198, 97, 63, 0.5);
}

body {
  display: flex;
}

nav {
  width: 48px;
  height: 100vh;

  border-right: 1px solid var(--border-color);

  position: relative;
}

.sidebar-button-container {
  padding: 8px;
}

.sidebar-button {
  background-color: transparent;
  border: none;

  height: 32px;
  width: 32px;

  cursor: pointer;
}

.new-chat-link-container {
  padding: 8px 8px 0px 8px;
}

.new-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.new-chat-link-svg-container {
  background-color: rgb(214, 118, 83);
  border-radius: 20px;

  padding: 1px;

  height: 20px;
  width: 20px;
}

.can-focus:hover {
  background-color: var(--additional-background-color);
  border-radius: 6px;
  transition: background-color 0.2s;
}

.sidebar-navigations {
  padding: 1px 8px 0px 8px;
}

.navigation-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
}

.user {
  position: absolute;
  bottom: 0px;
}

.user-button {
  background-color: transparent;
  border: none;

  margin: 8px 0px 8px 0px;
  padding: 8px 5px;

  cursor: pointer;
}

.litteraly-me {
  height: 38px;

  border-radius: 20px;

  transition: transform 0.2s;
}

.litteraly-me:hover {
  transform: scale(1.04);
}


main {
  position: relative;
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 190px 32px 0px 32px;
}

.incognito-mode-container {
  position: fixed;
  top: 10px;
  right: 17px;

  padding: 6px;

  cursor: pointer;
}

.upgrade-plan {
  background-color: var(--additional-background-color);
  padding: 7px 13px;
  border-radius: 5px;
  
  width: 130px;
}

.upgrade-plan p {
  margin: 0px;
  
  font-family: sans-serif;
  font-size: 14px;
  color: var(--additional-font-color);
}

.welcome {
  display: flex;
  align-items: center;

  margin-top: 35px;
  margin-bottom: 35px;
}

.welcome-label {
  font-size: 38px;
  font-family: serif;
  color: var(--based-font-color);

  margin-left: 12px;
}